/** Necessary theme styles for Dreamer UI library - Customize as desired! */

@theme dreamer-ui {
	--color-primary: var(--color-violet-500);
	--color-primary-foreground: var(--color-white);
	--color-secondary: var(--color-violet-200);
	--color-secondary-foreground: var(--color-black);
	--color-muted: var(--color-gray-300);
	--color-muted-foreground: var(--color-gray-800);

	--color-accent: var(--color-violet-500);
	--color-accent-foreground: var(--color-white);

	--color-success: var(--color-green-300);
	--color-success-foreground: var(--color-black);
	--color-warning: var(--color-yellow-300);
	--color-warning-foreground: var(--color-black);
	--color-destructive: var(--color-red-500);
	--color-destructive-foreground: var(--color-black);

	--color-border: var(--color-gray-400); /* for input/textarea borders and dividers */
	--color-popover: var(--color-gray-200); /* for popover backgrounds (popover, dropdowns, modals, etc) */
	--color-popover-foreground: var(--color-gray-950); /* for popover text */

	--color-tooltip: var(--color-gray-100);
	--color-tooltip-foreground: var(--color-gray-900);
}

.dark {
  --color-muted: var(--color-gray-800);
  --color-muted-foreground: var(--color-gray-200);

	--color-success: var(--color-green-700);
	--color-success-foreground: var(--color-white);
	--color-warning: var(--color-yellow-700);
	--color-warning-foreground: var(--color-white);
	--color-destructive: var(--color-red-700);
	--color-destructive-foreground: var(--color-white);

	--color-border: var(--color-gray-700);
	--color-popover: var(--color-gray-800);
	--color-popover-foreground: var(--color-gray-100);
}
