@import "tailwindcss";

@utility page {
	@apply min-h-screen w-screen;
}

@theme tiny {
	--color-background: var(--color-gray-200);
	--color-foreground: var(--color-gray-900);
}

/* Override the variables to create a dark theme */
.dark {
	--color-background: var(--color-gray-950);
	--color-foreground: var(--color-gray-100);
}

#root {
  @apply page bg-background text-foreground;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	@apply bg-background
}


/* Dreamer UI styles */
@import "@moondreamsdev/dreamer-ui/styles"; /* non-TailwindCSS styles */
@import './dreamer-ui.css'; /* customizable, theme styles */

/* for TailwindCSS styles in library to be processed */
@source "../node_modules/@moondreamsdev/dreamer-ui/dist/**/*.{js,jsx,ts,tsx}";
